In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
# Load the csv file
# df = pd.read_csv("Linear_Regression_multiple_variable2.csv")
df = pd.read_csv("D:\\MACHINE LEARNING\\Machine Learning\\CSV FILE\\Linear_Regression_multiple_variable2.csv")
df.head(10)

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
5,5,1,13,1,1,0,2,acept,not furnished,R$0,"R$2,200",R$42,R$28,"R$2,270"
6,6,1,55,1,1,1,2,acept,furnished,"R$1,950","R$5,000",R$375,R$64,"R$7,389"
7,7,1,55,2,2,1,2,acept,not furnished,R$600,"R$1,300",R$67,R$17,"R$1,984"
8,8,1,82,3,1,1,3,acept,furnished,R$828,"R$2,000",R$109,R$26,"R$2,963"
9,9,1,32,1,1,1,16,acept,not furnished,R$533,"R$2,900",R$0,R$37,"R$3,470"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              6080 non-null   int64
 1   city            6080 non-null   int64
 2   area            6080 non-null   int64
 3   rooms           6080 non-null   int64
 4   bathroom        6080 non-null   int64
 5   parking spaces  6080 non-null   int64
 6   floor           6080 non-null   object
 7   animal          6080 non-null   object
 8   furniture       6080 non-null   object
 9   hoa             6080 non-null   object
 10  rent amount     6080 non-null   object
 11  property tax    6080 non-null   object
 12  fire insurance  6080 non-null   object
 13  total           6080 non-null   object
dtypes: int64(6), object(8)
memory usage: 665.1+ KB

In [4]:
df.columns

Index(['id', 'city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal', 'furniture', 'hoa', 'rent amount', 'property tax',
       'fire insurance', 'total'],
      dtype='object')

In [5]:
df.describe()

,id,city,area,rooms,bathroom,parking spaces
count,6080.00000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000
mean,3039.50000,0.863322,151.143914,2.492599,2.341612,1.756250
std,1755.28915,0.343535,375.559485,1.129665,1.438860,1.611909
min,0.00000,0.000000,10.000000,1.000000,1.000000,0.000000
25%,1519.75000,1.000000,58.000000,2.000000,1.000000,1.000000
50%,3039.50000,1.000000,100.000000,3.000000,2.000000,1.000000
75%,4559.25000,1.000000,200.000000,3.000000,3.000000,2.000000
max,6079.00000,1.000000,24606.000000,10.000000,10.000000,12.000000

In [6]:
# some column drop that are unnecessary
df.drop(columns=['id','hoa','floor','property tax'],axis=1,inplace=True)
df.head()

,city,area,rooms,bathroom,parking spaces,animal,furniture,rent amount,fire insurance,total
0,1,240,3,3,4,acept,furnished,"R$8,000",R$121,"R$9,121"
1,0,64,2,1,1,acept,not furnished,R$820,R$11,"R$1,493"
2,1,443,5,5,4,acept,furnished,"R$7,000",R$89,"R$12,680"
3,1,73,2,2,1,acept,not furnished,"R$1,250",R$16,"R$2,116"
4,1,19,1,1,0,not acept,not furnished,"R$1,200",R$16,"R$1,257"

In [7]:
# label encoding
label_encode = LabelEncoder()
df['animal'] = label_encode.fit_transform((df['animal']))
df['furniture'] = label_encode.fit_transform((df['furniture']))
df.head()

,city,area,rooms,bathroom,parking spaces,animal,furniture,rent amount,fire insurance,total
0,1,240,3,3,4,0,0,"R$8,000",R$121,"R$9,121"
1,0,64,2,1,1,0,1,R$820,R$11,"R$1,493"
2,1,443,5,5,4,0,0,"R$7,000",R$89,"R$12,680"
3,1,73,2,2,1,0,1,"R$1,250",R$16,"R$2,116"
4,1,19,1,1,0,1,1,"R$1,200",R$16,"R$1,257"

In [8]:
# data preprocessing
df['rent amount'] = df['rent amount'].map(lambda i: int(i[2:].replace(',','')))
df['fire insurance'] = df['fire insurance'].map(lambda i: int(i[2:].replace(',','')))
df['total'] = df['total'].map(lambda i: int(i[2:].replace(',','')))
df.head()

,city,area,rooms,bathroom,parking spaces,animal,furniture,rent amount,fire insurance,total
0,1,240,3,3,4,0,0,8000,121,9121
1,0,64,2,1,1,0,1,820,11,1493
2,1,443,5,5,4,0,0,7000,89,12680
3,1,73,2,2,1,0,1,1250,16,2116
4,1,19,1,1,0,1,1,1200,16,1257

In [9]:
# split featurs and label
featurs = df.iloc[:,:-1]
featurs

,city,area,rooms,bathroom,parking spaces,animal,furniture,rent amount,fire insurance
0,1,240,3,3,4,0,0,8000,121
1,0,64,2,1,1,0,1,820,11
2,1,443,5,5,4,0,0,7000,89
3,1,73,2,2,1,0,1,1250,16
4,1,19,1,1,0,1,1,1200,16
...,...,...,...,...,...,...,...,...,...
6075,1,50,2,1,1,0,1,1150,15
6076,1,84,2,2,1,1,0,2900,37
6077,0,48,1,1,0,0,1,950,13
6078,1,160,3,2,2,1,1,3500,53
6079,1,60,2,1,1,0,0,1900,25

In [10]:
label = df.iloc[:,-1]
label

0        9121
1        1493
2       12680
3        2116
4        1257
        ...
6075     1585
6076     3768
6077     1255
6078     3803
6079     2414
Name: total, Length: 6080, dtype: int64

In [11]:
xtrain,xtest,ytrain,ytest = train_test_split(featurs,label,test_size=0.25,random_state=1)
xtrain

,city,area,rooms,bathroom,parking spaces,animal,furniture,rent amount,fire insurance
37,1,176,3,4,3,0,1,6500,83
1300,1,100,2,2,1,0,0,1625,7
5318,0,110,3,2,1,0,1,1200,16
4580,1,50,2,1,0,0,1,1200,19
1865,1,43,1,1,0,0,1,1472,6
...,...,...,...,...,...,...,...,...,...
905,1,90,2,1,2,0,1,2000,26
5192,1,126,3,4,3,0,1,4000,51
3980,0,74,3,2,2,0,1,4200,54
235,0,209,3,3,2,1,1,2550,39
5157,0,130,3,2,1,0,1,1300,20

In [12]:
xtest

,city,area,rooms,bathroom,parking spaces,animal,furniture,rent amount,fire insurance
3206,1,190,3,3,2,0,0,11000,166
4916,1,30,1,1,1,0,0,2389,31
5822,1,380,3,4,2,0,1,12000,181
758,1,210,4,4,3,0,1,4675,60
4899,0,62,2,1,1,0,1,1100,14
...,...,...,...,...,...,...,...,...,...
5668,1,50,1,1,0,1,1,1900,25
3812,0,480,3,6,4,0,1,5400,82
3891,1,210,4,4,3,0,0,4700,71
1657,1,220,5,4,3,1,1,8000,121
5994,1,55,2,2,1,1,1,1850,24

In [13]:
print(xtrain.shape)
print(xtest.shape)

(4560, 9)
(1520, 9)

In [14]:
model = LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [15]:
x = model.score(xtest,ytest)
print("Accuracy: ",round(x*100,ndigits=3),"%")

Accuracy:  93.77 %

In [16]:
print("Intercept: ",model.intercept_)
print("Coefficient: ",model.coef_)

Intercept:  -858.2805081323049
Coefficient:  [ 1.03763947e+02  2.59918618e-01  2.07809222e+02  3.79919945e+02
 -1.12904973e+02  5.66464227e+02 -1.02313667e+02  2.31863880e+00
 -7.97756846e+01]

In [17]:
y_predict = model.predict(xtest)
y_predict

array([13094.50870346,  2794.28706537, 14543.50305114, ...,
        6545.79685832, 10883.07964145,  3161.34823613])

In [18]:
print("Mean_squared_error: ",mean_squared_error(ytest,y_predict))

Mean_squared_error:  1500562.5878116174

In [19]:
# error = []
# for i,testVal in enumerate(y_predict):
#     error.append(ytest[i]-testVal)
#     print(f'Actual: {ytest[i]} Prediction: {int(testVal)} Error: {int(error[i])}')

In [20]:
model.predict([[1,200,4,2,4,0,1,12000,177]])

array([14037.97982565])