In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [26]:
df = pd.read_csv("D:\\MACHINE LEARNING\\Machine Learning\\CSV FILE\\profit.csv")

In [27]:
df.head(15)

    Marketing Spend  Administration  Transport     Area     Profit
0         114523.61       136897.80  471784.10    Dhaka  192261.83
1         162597.70       151377.59  443898.53      Ctg  191792.06
2         153441.51       101145.55  407934.54  Rangpur  191050.39
3         144372.41       118671.85  383199.62    Dhaka  182901.99
4         142107.34        91391.77  366168.42  Rangpur  166187.94
5         131876.90        99814.71  362861.36    Dhaka  156991.12
6         134615.46       147198.87  127716.82      Ctg  156122.51
7         130298.13       145530.06  323876.68  Rangpur  155752.60
8         120542.52       148718.95  311613.29    Dhaka  152211.77
9         123334.88       108679.17  304981.62      Ctg  149759.96
10        101913.08       110594.11  229160.95  Rangpur  146121.95
11        100671.96        91790.61  249744.55      Ctg  144259.40
12         93863.75       127320.38  249839.44  Rangpur  141585.52
13         91992.39       135495.07  252664.93      Ctg  134307.35
14        119943.24       156547.42  256512.92  Rangpur  132602.65

In [28]:
df.shape

(50, 5)

In [29]:
# check null value
df.isnull().values.any()

False

In [30]:
# Spliting the featurs and level

featurs = df.iloc[:,:-1]
level = df['Profit']

In [31]:
# featurs = df.drop(['Profit'],axis=1)
featurs.head(5)

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [32]:
level.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [33]:
# Data preprocessing
# One hot encoding
citys = pd.get_dummies(featurs['Area'])
citys.head()

   Ctg  Dhaka  Rangpur
0    0      1        0
1    1      0        0
2    0      0        1
3    0      1        0
4    0      0        1

In [36]:
# Drop Area columns from df
featurs = featurs.drop('Area',axis=1)

In [37]:
featurs.head()

   Marketing Spend  Administration  Transport
0        114523.61       136897.80  471784.10
1        162597.70       151377.59  443898.53
2        153441.51       101145.55  407934.54
3        144372.41       118671.85  383199.62
4        142107.34        91391.77  366168.42

In [38]:
featurs = pd.concat([featurs,citys],axis=1)
featurs.head()

   Marketing Spend  Administration  Transport  Ctg  Dhaka  Rangpur
0        114523.61       136897.80  471784.10    0      1        0
1        162597.70       151377.59  443898.53    1      0        0
2        153441.51       101145.55  407934.54    0      0        1
3        144372.41       118671.85  383199.62    0      1        0
4        142107.34        91391.77  366168.42    0      0        1

In [39]:
# split the data into train and test
xtrain,xtest,ytrain,ytest = train_test_split(featurs,level,test_size=.2,random_state=1)
# create model object
model = LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [40]:
# predict the data
predict_data = model.predict(xtest)
predict_data

array([124949.08811021,  92848.17093792,  81002.30321031,  73813.50456514,
       176531.86750843, 171256.70227546,  44522.13783812, 101420.68714636,
        74549.40396009,  97003.4795956 ])

In [42]:
x = model.score(xtest,ytest)
print("Acuraccey: ",round(x*100,ndigits=3),"%")

Acuraccey:  93.272 %

In [44]:
# R-squared value
x2 = r2_score(ytest,predict_data)
print("Acuraccey: ",round(x2*100,ndigits=3),"%")

Acuraccey:  93.272 %